<!-- layout.hbs -->

<h2>Add a new celebrity</h2>

<form action="/celebrities" method="post">
  <input type="text" name="name" placeholder="Add name">
  <br>
  <br>
  <input type="text" name="occupation" placeholder="Add occupation">
  <br>
  <br>
  <input type="text" name="catchPhrase" placeholder="Add catchphrase">
  <br><br>
  <input type="submit" value="Add Celebrity">
</form>